* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 14px;
    color: white;
    background-color: #181f2a;
}

a,
button {
    color: inherit;
}